streamlit
pandas
numpy
catboost
scikit-learn
plotly
joblib
torch
opencv-python
ultralytics
tensorflow
mediapipe
Pillow
matplotlib
seaborn
streamlit-drawable-canvas
scipy
transformers
yfinance
requests
statsmodels
streamlit-option-menu
opencv-python-headless
tf-keras
